html {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #45badd;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("./robot.gif");
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
}

/* Media Query for screens less then 1000px */
@media screen and (max-width: 1000px) {
	.container {
		background-position: center center;
		background-size: cover;
	}
}
